<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="galvatrans.galindra.galva.cecilia.galvatrans">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivitySplash.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLogin.ActivityLogin" />
        <activity android:name=".ActivityDetailRute.ActivityDetailRute" />
        <activity android:name=".ActivityMain.ActivityMain">

        </activity>
        <activity android:name=".ActivityListRute.ActivityListRute" />

        <activity
            android:name=".ActivityBiaya.ActivityShowBiaya.ActivityShowBiaya"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ActivityBiaya.ActivityAddBiaya.ActivityAddBiaya"
            android:screenOrientation="portrait" />

    </application>

</manifest>